<h2>Edit this entry...</h2>
<br>
<br>
<form action="/wine_entries/<%= @wine_entry.id %>" method="post">
   <input type="hidden" name="_method" value="patch">

   <label for="wine_name">Name of Wine:</label>
   <input type="text" name="wine_name" value="<%= @wine_entry.wine_name %>">
   <br>
   <br>
   <label for="type">Type:</label>
   <input type="text" name="wine_type" value="<%= @wine_entry.wine_type %>">
   <br>
   <br>
   <label for="vintage">Vintage:</label>
   <input type="text" name="vintage" value="<%= @wine_entry.vintage %>">
   <br>
   <br>
   <label for="region">Region:</label>
   <input type="text" name="region" value="<%= @wine_entry.region %>">
   <br>
   <br>
   <label for="wine_notes">Personal Notes:</label>
   <br>
   <textarea name="wine_notes" style="width:300px; height:150px;"><%= @wine_entry.wine_notes %></textarea>
   <br>
   <br>
   <input type="submit" name="" value="Save">

</form>