<h2>ALL WINE ENTRIES</h2>
<h4 style="color: purple;"><em>You are viewing all wine submissions</h4></em>
<br>
<br>
<% @wine_entries.each do |wine_entry| %>
    <a href="/wine_entries/<%= wine_entry.id %>"><%= wine_entry.formatted_created_at %></a>
        <br><h5>created by <%= wine_entry.user.name %></h5>
        <br><strong>Name of Wine:</strong> <%= wine_entry.wine_name %>
        <br><strong>Type:</strong> <%= wine_entry.wine_type %>
        <br><strong>Region:</strong> <%= wine_entry.region %>
        <br><strong>Personal Notes:</strong> <%= wine_entry.wine_notes %>
        <br>
        <br>
        <br>=======================================================================================================
        <br>
        <br>
        <br>
<% end %>


