<h2>Your Latest Wine Submission</h2>
<br>
<br>
<p><strong>Name of Wine:</strong> <%= @wine_entry.wine_name %></p>
<br><strong>Type:</strong> <%= @wine_entry.wine_type %>
<br><strong>Vintage:</strong> <%= @wine_entry.vintage %></p>
<br><strong>Region:</strong> <%= @wine_entry.region %></p>
<br><strong>Personal Notes:</strong> <%= @wine_entry.wine_notes %></p>
<br>
<br>created on <%= @wine_entry.formatted_created_at %>
<br>created by <strong><%= @wine_entry.user.name %></strong>



<% if authorized_to_edit?(@wine_entry) %>
    <a href="/wine_entries/<%= @wine_entry.id %>/edit">Edit Entry</a>
    <br>
    <br>
    <form action="/wine_entries/<%= @wine_entry.id %>" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" name = "" value="Delete Entry">
    </form>
<% end %>