<h4>(SHOW PAGE FOR WINE ENTRY)</h4>
<br>
<br>
<p><strong>Name of Wine:</strong> <%= @wine_entry.wine_name %></p>
<p><strong>Type:</strong> <%= @wine_entry.wine_type %></p>
<p><strong>Vintage:</strong> <%= @wine_entry.vintage %></p>
<p><strong>Region:</strong> <%= @wine_entry.region %></p>
<p><strong>Notes about the wine:</strong> <%= @wine_entry.wine_notes %></p>
<br>
<p>created on <%= @wine_entry.created_at %></p>
<br>
<p>created by <%= @wine_entry.user.name %></p>



<% if authorized_to_edit?(@wine_entry) %>
    <a href="/wine_entries/<%= @wine_entry.id %>/edit">Edit Entry</a>
    <br>
    <br>
    <form action="/wine_entries/<%= @wine_entry.id %>" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" name = "" value="Delete Entry">
    </form>
<% end %>